<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <title>{{ page.meta_title | default:  'Open Source Survey' }}</title>
    <meta name="description" content="{{ page.meta_description | default: 'Open Source Survey' }}">
</head>
