.survey-title {
  text-align: center;

  h1,
  p {
    max-width: 30rem;
    margin: 1rem auto;
  }
}

.survey {
  padding-bottom: 10rem;

  .question {
    max-width: 30rem;
    margin: 0 auto 8rem;

    &-text {
      font-size: 1.25rem;
      margin-bottom: 0;
    }

    &-info {
      margin-bottom: 2rem;
    }

    &-desc {
      color: $gray;
      font-size: .875rem;
    }
  }

  .answer {

    label {
      position: relative;
      display: block;
      cursor: pointer;
      padding: .75rem 3.5rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      text-align: center;
      background-color: $gray-light;
      line-height: 1.4;
      font-weight: 700;
      box-shadow: $card-shadow;
    }

    input[type='text'],
    input[type='email'] {
      position: relative;
      display: block;
      width: 100%;
      cursor: pointer;
      padding: .75rem 1rem;
      font-size: .875rem;
      border-radius: 5px;
      background-color: transparent;
      box-shadow: $input-shadow;
      border: 0;
      outline: none;
    }

    input[type='radio'],
    input[type='checkbox'] {
      display: none;

      & + label {

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 1.5rem;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &::before {
          width: 16px;
          height: 16px;
          border: 2px solid $blue;
        }

        &::after {
          background-color: $blue;
          width: 8px;
          height: 8px;
          opacity: 0;
          transition: opacity 0.3s;
        }
      }

      &:checked + label {

        &::after {
          opacity: 1;
        }
      }
    }

    input[type='radio'] {

      & + label {

        &::before,
        &::after {
          border-radius: 50%;
        }
      }
    }
  }

  &-submit {
    appearance: none;
    display: block;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    border: 0;
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    padding: .75rem 3.5rem;
    background-color: $gray-light;
    color: $blue;
    box-shadow: $card-shadow;
    outline: none;
  }
}
