// Fonts
$overpass: 'Overpass', sans-serif;

// Colors
$white: #fff;
$black: #111;

$blue-dark: #2026a1;
$blue: #2a44fe;
$gray: #686787;
$gray-light: #f1f3f6;

// Shadows
$shadow: 0 4px 24px 0 rgba($black, 0.08);

$easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
